div.file-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0.5rem 1rem;
}


div.file-list ul li {
    margin: 0.5rem 0;
}

div.file-list ul li button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-align: left;
}

div.file-list ul li button:hover {
    color:#4361ee;
}
