div#NotFound {
    position: absolute;
    justify-content: center;
    align-items: center;
}

div#NotFound > div.led {
    width: 25rem;
    height: 32rem;
    background-image: linear-gradient(163deg, #f72585 0%, #0d41e1 100%);
    border-radius: 22px;
    transition: all .3s;
}

div#NotFound > div.led:hover {
    box-shadow: 0px 0px 30px 1px rgba(149, 0, 255, 0.3);
}
div#NotFound > div.led > div.panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: 32rem;
    padding: 2rem;
    background-color: #1a1a1a;
    border-radius:20px;
    transition: all .2s;
}

div#NotFound > div.led > div.panel:hover {
    transform: scale(0.98);
    border-radius: 20px;
}

div#NotFound > div.led > div.panel > div.body > h5 {
    color: #0b6dc8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: left;
}

div#NotFound > div.led > div.panel > div.body > p {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#NotFound > div.led > div.panel > div.body > p span {
    color: #0b6dc8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    text-transform: lowercase;
}

div#NotFound > div.led > div.panel > div.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5rem;
}

div#NotFound > div.led > div.panel > div.footer > a {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    background-color: #0b6dc8;
    border-radius: 20px;
    transition: all .2s;
}

div#NotFound > div.led > div.panel > div.footer > a:hover {
    box-shadow: 0px 0px 30px 1px #1a1a1a;
    transform: scale(0.98);
    border-radius: 20px;
}

@media (min-width: 0px) and (max-width: 420px) {
    div#NotFound > div.led {
        width: 100%;
        height: 85%;
    }

    div#NotFound > div.led > div.panel {
        width: 100%;
        height: 100%;
    }

    div#NotFound > div.led > div.panel > div.footer > a {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}