div#NotFound {
    position: absolute;
    justify-content: center;
    align-items: center;
}

div#NotFound  div.body > h5 {
    color: #0b6dc8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: left;
}

div#NotFound div.body > p {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

div#NotFound div.body > p span {
    color: #0b6dc8;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 1px;
    text-transform: lowercase;
}

div#NotFound div.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5rem;
}

div#NotFound div.footer > a {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem;
    background-color: #0b6dc8;
    border-radius: 20px;
    transition: all .2s;
}

div#NotFound div.footer > a:hover {
    box-shadow: 0px 0px 30px 1px #1a1a1a;
    transform: scale(0.98);
    border-radius: 20px;
}

@media (min-width: 0px) and (max-width: 420px) {
    div #NotFound div.body > h5 {
        font-size: 1.2rem;
    }

    div#NotFound div.body > p,
    div#NotFound div.body > p span {
        font-size: calc(2.5rem + 1.5vw);
    }

    div#NotFound div.footer > a {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}