@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: .5rem;
    height: 100%;
    border-radius: 5px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 5px;
}

html, body, #root {
    width: 100%;
    height: 100%;
    background: #16171b;
}

div.route {
    position: absolute;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    width: calc(100% - 16.25rem);
    height: 100%;
    padding: .75rem;
    transition: all 0.3s ease-in-out;
}


@media (min-width: 850px) and (max-width: 1199px) {
    div.route {
        width: calc(100% - 13.125rem);
    }
}

@media (min-width: 0px) and (max-width: 849px) {
    div.route {
        width: 100%;
        padding-top: 3.5rem;
    }
}