@font-face {
    font-family: "FiraCode";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../public/fonts/FiraCode-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "FiraCode", monospace;
    cursor: crosshair;
}

html, body, #root {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle, #1b1919 0%, #16171b 100%);
    overflow: hidden;
}

div.App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

div.App svg.return {
    width: 1.25em;
    height: 1.25em;
    fill: #fff;
    margin: 0.5rem 0rem 0.5rem 1rem;
}

div.App svg.return:hover {
    fill: #4361ee;
}

div.file {
    color: #fff;
    margin: 0.5rem 3rem;
}

@media screen and (max-width: 768px) {
    div.file {
        margin: 0.5rem 1rem;
    }
}
