div.tech-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 8px;
    margin: 0.5rem;
}

div.tech-icon svg {
    width: 50%;
    height: 50%;
    z-index: 1;
}

div.tech-icon:hover svg,
div.tech-icon:hover img {
    display: none;
}

div.tech-icon:hover::before {
    content: attr(data-name);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
}